<!-- <form class="example-form">
  <textarea
    [value]="original"
    (input)="onChangeEvent($event)"
    [matAutocomplete]="auto"
  ></textarea>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of showNames" [value]="original + option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</form> -->

<!-- <textarea
  appSuggestion
  [items]="arr"
  [var]="'@'"
  (variableEvent)="showSuggestions($event)"
></textarea> -->

<form class="example-form">
  <textarea
    value="original"
    appSuggestion
    [items]="arr"
    [var]="'@'"
    (variableEvent)="showSuggestions($event)"
    [matAutocomplete]="auto"
    matInput
  ></textarea>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option
      *ngFor="let option of showNames"
      [value]="original + '{' + option + '}'"
    >
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</form>
<!-- <quill-editor
  value="original"
  appSuggestion
  [items]="arr"
  [var]="'@'"
  matInput
  (variableEvent)="showSuggestions($event)"
  [matAutocomplete]="auto"
  [styles]="editorStyle"
></quill-editor>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option
    *ngFor="let option of showNames"
    [value]="original + '{' + option + '}'"
  >
    {{ option }}
  </mat-option>
</mat-autocomplete> -->

<router-outlet></router-outlet>
